button.btn.btn-primary.action_go {
    font-size: 13px;
    padding: 4px 12px 4px 12px;
    margin-top: 9px;
    margin-left: -13px;
}

select.custom-select.custom-select-sm.form-control.form-control-sm.bulk_action {
    margin-right: 1px;
    margin-left: -10px;
    padding-left: 5px;
}

a.btn.btn-brand.btn-elevate.btn-icon-sm.ls {
    float: right;
    margin: 15px 15px 0px 15px;
}

a.btn.btn-clean.ls {
    float: right;
    margin: 15px 15px 0px 15px;
}

span.kt-menu__link-text.ls {
    margin-left: 30px;
}